body {
  font-family: Arial, sans-serif;
  background-image: url('../images/tile.png');
  background-repeat: repeat;
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 300px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #22b14c;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin: 10px 0 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#message {
  text-align: center;
  margin-top: 10px;
  color: red;
}
